@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Grab Community EN v2.0 Inline';
    src: url('../fonts/Grab Community EN v2.0-Inline.otf') format('opentype');
}
  
@font-face {
    font-family: 'Grab Community Solid Bold';
    src: url('../fonts/Grab Community Solid EN-Bold.otf') format('opentype');
}
  
@font-face {
    font-family: 'Grab Community Solid Heavy';
    src: url('../fonts/Grab Community Solid EN-Heavy.otf') format('opentype');
}
  
@font-face {
    font-family: 'Grab Community Solid Medium';
    src: url('../fonts/Grab Community Solid EN-Medium.otf') format('opentype');
}
  
@font-face {
    font-family: 'Grab Community Solid Regular';
    src: url('../fonts/Grab Community Solid EN-Regular.otf') format('opentype');
}